.auth-container{
    background-image: url(./assets/imgaes/background-auth.png);
    background-size: cover;
    background-position: center;
}

.bg-overlay{
    background: linear-gradient(45deg, rgba(47, 140, 96, .5), rgba(0,0,0,.5));
}